:root{
    --primary-color: #ff6f61;
    --secondary-color: #4caf50;
}
.header {
  background-color: #fff;
  padding: 16px 32px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* dropdown cha */
.dropdown {
  position: relative;
  cursor: pointer;
}

/* title */
.dropdown-title {
  font-weight: 500;
}

/* menu con */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: #fff;
  list-style: none;
  padding: 8px 0;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  display: none;
  z-index: 1000;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a:hover {
  background: #f2f2f2;
}

/* hover má»Ÿ dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}
.sign-in {
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 50px;
}
.sign-in li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}